<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="Jon Mease">
    <meta name="theme-color" content="#1A237E">
    <meta property="og:title" content="Home | Jon Mease">
    <meta property="og:image" content="/index/BioPhoto-JonMease.jpg">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="I'm a software developer creating tools for Data Science and Data Visualization">
    <meta property="og:description" content="I'm a software developer creating tools for Data Science and Data Visualization">
    <meta property="og:url" content="https://jonmmease.dev/">
    <meta property="og:site_name" content="Jon Mease">
    <meta name="twitter:card" content="summary">
    <meta property="twitter:title" content="Home | Jon Mease">
    <meta name="twitter:site" content="@jonmmease">
    <meta property="twitter:image" content="/index/BioPhoto-JonMease.jpg">

    <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon_io/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>
        {% block title %} {% endblock %} | Jon Mease
    </title>
</head>

<body>
    {% include "header.html" %}
    <section class="section">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>

    {% include "footer.html" %}
</body>
</html>
